<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.TestContactPage"/>
      <class name="testscripts.TestLeadsPage"/>
      <class name="utilities.DateUtility"/>
      <class name="testscripts.TestLoginPage"/>
      <class name="testscripts.Testcase"/>
      <class name="utilities.SeleniumUtility"/>
      <class name="hooks.Hooks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
